.historial-container {
    max-width: 1200px;
    margin: 100px auto 40px auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .historial-container h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #222;
  }
  
  .historial-item {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    align-items: center;
  }
  
  .historial-item img {
    width: 350px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .historial-item h3 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  
  .historial-item p {
    margin: 5px 0;
    font-size: 15px;
    color: #555;
  }
  
  /* Responsive para celulares */
  @media (max-width: 768px) {
    .historial-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .historial-item img {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .pendientes-vacio {
  text-align: center;
  padding: 60px 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
}

  .buscador-admin {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.input-busqueda {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 250px;
}

.btn-buscar {
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-buscar:hover {
  background-color: #115293;
}
